background_color           		#222436
dark_mode_background_color      #222436
text_highlight_color       		#FFC777
visual_mark_color          		#86E1FC
search_highlight_color     		#FFC777
link_highlight_color       		#82AAFF
synctex_highlight_color    		#C3E88D
highlight_color_a          		#FFC777
highlight_color_b          		#C3E88D
highlight_color_c          		#82AAFF
highlight_color_d          		#FF757F
highlight_color_e          		#C099FF
highlight_color_f          		#FF757F
highlight_color_g          		#FFC777
custom_background_color    		#222436
custom_text_color          		#C8D3F5
ui_text_color              		#C8D3F5
ui_background_color        		#222436
ui_selected_text_color     		#C8D3F5
ui_selected_background_color 	#444A73
status_bar_color                #C8D3F5 
status_bar_text_color           #222436
status_bar_font_size            15
ui_font                         Hack Nerd Font
should_launch_new_window        1
show_document_name_in_statusbar 1
multiline_menus                 1
super_fast_search               1
